@import url('https://fonts.googleapis.com/css?family=Parisienne|Quicksand|Roboto|Roboto+Condensed:700');



// VARIABLES ------------------------------ /
// screen sizes
//$phone: '(max-width: 480px)';
$tablet-portrait: '(min-width: 767px)';
$tablet-landscape: '(min-width: 768px) and (max-width: 979px)';
$small-desktop: '(min-width: 1024px) and (max-width:  1499px)';
$large-desktop: '(min-width: 1500px)';
$non-retina: 'screen and (-webkit-max-device-pixel-ratio: 1)';
$retina: '(min--moz-device-pixel-ratio: 1.5), 
                    (-o-min-device-pixel-ratio: 3/2), 
                    (-webkit-min-device-pixel-ratio: 1.5), 
                    (min-device-pixel-ratio: 1.5), 
                    (min-resolution: 144dpi), 
                    (min-resolution: 1.5dppx)';

//$color-secondary: #ffa755; //orange 
$color-borders: #9d138c; 
$color-accent: #623353;
$color-shade: #74546a; 
$color-masthead: #1e2f51;
$user-menu-bg: #e8e8e8;
$user-menu-bttn-hv: #fcf7e5;
$user-menu-bttn: #d8d8d8;


$highlight-text: #dead80;
$highlight-border: #96a2ec;

$color-text: #eadef2;
$color-bg: #111d3a;
//$color-bg: #130918; //original near-black blue
$color-bg-light: #fbf3e6; 

$color-error: #f04e7d;

//$container-box-bg: #120d2f; //original dark-blue
$container-box-bg: #132e4f;
$container-box-border: #96a2ec;

$font-stack-primary: 'Quicksand', sans-serif;
$font-stack-labels: 'Roboto Condensed', sans-serif;

$button-gutter: 5px;

$max-width: 1000px;

$animation-time: 0.4s;

// MIXINS ------------------------------ /

@mixin respond-to($media) {
    @media only screen and #{$media} {
        @content;
    }
}

@mixin center {
	width: 100%;
	max-width: $max-width;
	margin-left: auto;
	margin-right: auto;
}

@mixin inputs { 
	margin-right: $button-gutter;
	margin-bottom: $button-gutter;
	color: $color-text;
	background-color: transparent;
	@content;
	&:disabled {
		border: 1px solid $color-accent;
		color: $color-shade;
	}
}

@mixin container {
	border: 1px solid $container-box-border;
	background-color: $container-box-bg;
	padding-left: 2%;
	margin-top: 20px;
	margin-bottom: 20px;
}

@mixin label {
	font: $font-stack-labels;
	font-size: .8em;
}

// BASE ------------------------------ /
body{
	font-family: $font-stack-primary;
	background-color: $color-bg;
	color: $color-text;
	height: 100%;
}

h1,
h2,
h3 {
	@include center;
	font-family: $font-stack-labels;
	text-align: center;
	margin-top: 5px;
}

ul{
	list-style: none;
	padding-left: 0;
}

.container {
	max-width: 100%;
}

.leftCol {
	@include respond-to($tablet-portrait) {
		min-height: 100vh;
		border-right: 1px solid $highlight-border;
	}
}

.mainContent {
		@include respond-to($small-desktop) {
		width: 80%;
		margin-left: 10%;
		margin-right: 10%;
	}
	@include respond-to($large-desktop) {
		width: 60%;
		margin-right: 20%;
		margin-left: 20%;
	}
}

.timeLabelContainer {
	width: 100%;
	@include respond-to($tablet-portrait) {
		padding-left: 0px;
		padding-right: 0px;
	}
}

.timeLabel {
	@include respond-to($tablet-portrait) {
		float: right;
	}
}

.control-buttons {
	width: 100%;
	@include inputs {
		border: 1px solid $color-borders;
	}
	@include center;
	&:hover:enabled {
		background-color: $color-bg;
	  background-image: -webkit-linear-gradient(#361844, $color-bg);
	  background-image: -o-linear-gradient(#361844, $color-bg);
	  background-image: linear-gradient(#361844, $color-bg);	
	}
	&:active {
		border: 1px solid #d35bad;
	}
}

input:focus {
	outline: none;
}

input[type="submit"] {
	@include inputs {
		border: 1px solid $color-borders;
	}
	@include center;
}

.task-button-container {
	text-align: center;
}

.task-buttons {
	@include inputs {
		border: 1px solid $color-borders;
	}
	&:focus {
		outline: 0;
	}
	&:hover:enabled {
		background-color: $container-box-bg;
	  background-image: -webkit-linear-gradient(#361844, $container-box-bg);
	  background-image: -o-linear-gradient(#361844, $container-box-bg);
	  background-image: linear-gradient(#361844, $container-box-bg);	
	}
	&:active {
		border: 1px solid #d35bad;
	}
}

input[type="text"] {
	width: 100%;
	line-height: 2em;
	border: 0px;
	@include inputs {
		border-bottom: 1px solid $color-borders;
		&::placeholder {
			color: $color-accent;
		}
		&:focus {
			&::placeholder {
				color: $highlight-text;
			}
			border-bottom: 1px solid $color-accent;
		}  
	}
	@include center;
}

input[type="password"] {
	width: 100%;
	line-height: 2em;
	border: 0px;
	@include inputs {
		border-bottom: 1px solid $color-borders;
		&::placeholder {
			color: $color-accent;
		}
		&:focus {
			&::placeholder {
				color: $highlight-text;
			}
			border-bottom: 1px solid $color-accent;
		}  
	}
	@include center;
}

.taskLabel {
	@include label;
}

.inputLabel {
	@include label;
	display: block;
}

.displayName {
	float: right;
	line-height: 40px;
}


// User Header ----------------------- /

.masthead {
	width: 100%;
	height: 40px;
	background-color: $color-masthead;
}

.timepieceLogo {
	font-family: 'Parisienne', cursive;
	color: $font-stack-primary;
}

.mastheadLogo {
	position: relative;
	left: 15px;
	top: 5px;
	line-height: 30px;
	font-size: 30px;
}

.userAvatar {
	float: right;
	width: 60px;
	height: 40px;
	background-color: $color-masthead;
	border: none;
	&:focus {
		outline: 0;
	}
	&:hover {
		cursor: pointer;
	}
	img {
		width: 35px;
		height: 35px;
		border-radius: 50%;
	}
}

// User Menu ----------------------- /

.userMenu {
	position: absolute;
	width: 100%;
	padding: 3%;
	color: $color-bg;
	background-color: $user-menu-bg;
	z-index: 2;
	button {
		color: $color-bg;
		background-color: $user-menu-bttn;
	}
	@include respond-to($tablet-portrait) {
		right: 0px;
		width: 50%;
	}
	@include respond-to($small-desktop) {
		width: 30%;
		padding: 15px;
	}
	@include respond-to($large-desktop) {
		width: 20%;
		padding: 15px;
	}
}

.userMenuButton {
	color: $color-bg;
	width: 100%;
	@include inputs {
		border: 1px solid $color-borders;
	}
	@include center;
	&:hover:enabled {
		background-color: $user-menu-bttn-hv;
	  background-image: -webkit-linear-gradient($user-menu-bttn-hv, $user-menu-bttn);
	  background-image: -o-linear-gradient($user-menu-bttn-hv, $user-menu-bttn);
	  background-image: linear-gradient($user-menu-bttn-hv, $user-menu-bttn);	
	}
	&:active {
		border: 1px solid #d35bad;
	}
	&:focus {
		outline: 0;
	}
}


.userProfileDropDown {
	color: $color-bg;
	z-index: 1;
	position: absolute;
	float: right;
	top:40px;
	background-color: #fafafa;
	text-align: center;
	@include respond-to($tablet-portrait) {
		left: 66%;
	}
	@include respond-to($small-desktop) {
		left: 74%;
	}
	&:focus {
		outline: 0;
	}
}

.signOut {
	width: 100%;
	@include inputs {
		border: 1px solid $color-borders;
	}
	@include center;
	color: $color-bg;
	margin-bottom: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	&:active {
		border: 1px solid #d35bad;
	}
}


// Login ----------------------- /
.signInContainer {
	padding: 15px;
}

.googleSignIn {
	@include center;
	&:active {
  	box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
  }
}

.signInSeparator {
	margin-top: 15px;
}

.loginBtn {
	cursor: pointer;
  box-sizing: border-box;
  position: relative;
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  width: 240px;
  text-align: left;
  line-height: 50px;
  white-space: nowrap;
  font-size: 16px;
  &:active {
  	box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
  }
}

.facebookSignIn {
	font-family: 'Roboto', sans-serif;
	margin: 0 auto;
	color: #FFF;
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
}

.facebookSignIn:hover {
 background-color: #5b7bd5;
 background-image: -webkit-linear-gradient(#5b7bd5, #4864b1);
 background-image: -o-linear-gradient(#5b7bd5, #4864b1);
 background-image: linear-gradient(#5b7bd5, #4864b1);
}

.signInSignUp a{
	color: $highlight-text;
}

// ERRORS ------------------------------ /

input[type="text"].inputError {
	background-color: $color-error;
}

.validationError {
	position: relative;
	padding: 10px;
	margin-top: 100px;
	color: $color-bg-light;
	background-color: #ff0344;
	border: 1px solid $highlight-border;;
	width: 100%;
	margin: auto;
}

// MODALS ------------------------------ /
.modal-open {
	background-color: #A9A9A9;
	#root {
		background-color: $color-bg;
		opacity: 0.7;
		 -webkit-animation: rootFade $animation-time;
  	animation: rootFade $animation-time;
  	.tasks {
			opacity: 0.2;
			-webkit-animation: elementFade $animation-time;
  		animation: elementFade $animation-time;
		}
	}
}

@-webkit-keyframes rootFade {
    from {opacity: 1}
    to {opacity: 0.7}
}@keyframes fade {
    from {opacity: 1}
    to {opacity: 0.7}
}

@-webkit-keyframes elementFade {
    from {opacity: 1}
    to {opacity: 0.2}
}@keyframes fade {
    from {opacity: 1}
    to {opacity: 0.2}
}

//transform unset fixes react-bootstrap bug. default transform animation was broken
.modal-dialog {
	height: 100%;
	width: 100%;
	margin: 0 auto;
	transform: unset !important;
	-webkit-transform: unset !important;
}

//div hidden behind modal. could be used for fade or to cover main content
.modal {
  -webkit-animation: fade $animation-time;
  animation: fade $animation-time;
  opacity: 1;
	width: 100%;
	margin: auto;
	.tasks {
		opacity: 1;
	}
	//background-color: $color-accent;
}

@-webkit-keyframes fade {
    from {opacity: 0}
    to {opacity: 1}
}@keyframes fade {
    from {opacity: 0}
    to {opacity: 1}
}



.modal-content {
	//top: 0;
	position: fixed;
	//width: 100%;
	height: 100%;
	margin: 0 auto;
	overflow-y: auto;
	background-color: $color-bg;
}

// REACT COMPONENTS ------------------------------ /
.activeTask {
	@include container;
}

.tasks {
	@include container;
	p {
		margin-bottom: 0;
	}
}

// EDIT ------------------------------ /
.modal-header {
	padding-bottom: 10px;
	padding-top: 10px;
	border-bottom: 1px solid $highlight-border;
}

.modal-footer {
	padding-bottom: 25px;
	padding-top: 25px;
	border-top: 1px solid $highlight-border;
}

.time-input {
	margin-bottom: 10px;
	border: 1px solid $highlight-border;
	background-color: $color-bg-light;
	width: 100%;
}

.icon-trash {
	opacity: 0.5;
  width: 33px;
  height: 33px;
  position: relative;
  top: 3px;
  overflow: hidden;
  margin-left: 25px;
  margin-bottom: 25px;
  &:hover {
  	opacity: 1;
  }
}

.icon-trash .trash-lid {
  width: 62%;
  height: 10%;
  position: absolute;
  left: 50%;
  margin-left: -31%;
  top: 10.5%;
  background-color: #000;
  border-top-left-radius: 80%;
  border-top-right-radius: 80%;
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  transform: rotate(-5deg); 
}

.icon-trash .trash-lid:after {
  content: "";
  width: 26%;
  height: 100%;
  position: absolute;
  left: 50%;
  margin-left: -13%;
  margin-top: -10%;
  background-color: inherit;
  border-top-left-radius: 30%;
  border-top-right-radius: 30%;
  -webkit-transform: rotate(-1deg);
  -moz-transform: rotate(-1deg);
  -ms-transform: rotate(-1deg);
  transform: rotate(-1deg); 
}

.icon-trash .trash-container {
  width: 56%;
  height: 65%;
  position: absolute;
  left: 50%;
  margin-left: -28%;
  bottom: 10%;
  background-color: #000;
  border-bottom-left-radius: 15%;
  border-bottom-right-radius: 15%;
}

.icon-trash .trash-container:after {
  content: "";
  width: 110%;
  height: 12%;
  position: absolute;
  left: 50%;
  margin-left: -55%;
  top: 0;
  background-color: inherit;
  border-bottom-left-radius: 45%;
  border-bottom-right-radius: 45%;
}

.icon-trash .trash-line-1 {
  width: 4%;
  height: 50%;
  position: absolute;
  left: 38%;
  margin-left: -2%;
  bottom: 17%;
  background-color: #252527;
}

.icon-trash .trash-line-2 {
  width: 4%;
  height: 50%;
  position: absolute;
  left: 50%;
  margin-left: -2%;
  bottom: 17%;
  background-color: #252527;
}

.icon-trash .trash-line-3 {
  width: 4%;
  height: 50%;
  position: absolute;
  left: 62%;
  margin-left: -2%;
  bottom: 17%;
  background-color: #252527;
}

//Login ------------------------------ /
.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: $highlight-border;
  background: -moz-linear-gradient(left, $highlight-border 10%, rgba(150, 162, 236, 0) 42%);
  background: -webkit-linear-gradient(left, $highlight-border 10%, rgba(150, 162, 236, 0) 42%);
  background: -o-linear-gradient(left, $highlight-border 10%, rgba(150, 162, 236, 0) 42%);
  background: -ms-linear-gradient(left, $highlight-border 10%, rgba(150, 162, 236, 0) 42%);
  background: linear-gradient(left, $highlight-border 10%, rgba(150, 162, 236, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: $highlight-border;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: $color-bg;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

//Charts ------------------------------ /
.radio-button {
	display: block;
	label {
		padding-left: 10px;
	}
}

.chartSettings {
	margin-right: 15px;
	margin-left: 15px;
	margin-bottom: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
	border: 1px solid $highlight-border;
}

.radioGroup {
	padding-right: 15px;
	padding-left: 15px;
	width: 50%;
	@include respond-to($tablet-portrait) {
		width: 30%;
	}
}

.barChart {
	height: 1000px;
}
